
.dark-mode{
    background-color: darken($grisOscuro, 10%);
    color: $blanco;

    p, a, h1, h2, h3, h4{
        color: $blanco;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid darken($grisOscuro, 10%);
        .precio{
            color: $verde;
        }
        .iconos-caracteristicas img{
            filter: invert(100%);
        }
    }
}