.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet{
        flex-direction: row;
    }

    .dark-mode-button{
        width: 4rem;
        margin: 2rem 0 2rem 0;
        filter: invert(100%);
        @include tablet{
            margin: 0 2rem 0 0;
        }
    }

    .dark-mode-button:hover{
        filter: invert(50%);
        cursor: pointer;
    }
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }

    .logotipo{
        margin-bottom: 2rem;
    }
}

.navegacion{

    &.index{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    &.index.active{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, height 1.5s linear;
    @include tablet{
        display: flex;
        align-items: center;
        &.index{
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        &:hover{
            color: $verde;
        }

        @include tablet{
            margin-right: 2rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.mobile-menu{
    @include tablet{
        display: none;
    }
    
    img{
        width: 5rem;
        
    }
}